.modal-box {
  display: flex;
  position: fixed;
  visibility: hidden;
  z-index: 1;
  justify-content: center;
  align-items: center;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.modal-box_opened {
  opacity: 1;
  visibility: visible;
}

.modal-box__container {
  max-width: 430px;
  max-height: 330px;
  background: #fff;
  position: relative;
  margin: 0;
}
.modal-box__image {
  z-index: 2;
  max-width: 75vw;
  max-height: 75vh;
}

.modal-box__caption {
  color: #fff;
}
.modal-box__close-button {
  position: absolute;
  right: -8%;
  top: -8%;
  background: none;
  border: none;
  transform: scale(calc(40 / 22));
  cursor: pointer;
  transition: opacity 0.5s linear;
  padding: 0;
}
.modal-box__image-close-button {
  right: 8%;
  top: 8%;
}

.modal-box__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 879px) {
  .modal-box__container {
    max-width: 356px;
  }
}

@media screen and (max-width: 420px) {
  .modal-box {
    margin: 0 19px;
  }
  .modal-box__container {
    max-width: 282px;
    max-height: 322px;
  }
  .modal-box__button {
    transform: scale(calc(26 / 22));
    right: 0;
    top: -60px;
  }
}
